body{
    width:100%;
    height:120vh;
    display: flex;
    flex-direction: column;
    margin:0;
    background-color: rgb(224, 221, 221);
}
nav{
    display:flex;
    align-items: center;
    background-color: #3b5998 ;
    width:100%;
    height:6%;
}
.gauche{
    display: flex;
    width:50%;
    height: 50%;
    margin-left: 10%;}
#barre{
    width:70%;
    
    border:none;
    display: flex;
    margin-left: 5px;
}
.logo{
    width: 40px;
    height:40px;
    display: flex;
    margin-top: -5px;
}
.liens{
    display: flex;
    padding:0;
    margin-left: 5px;    
}
.déco{
    text-decoration: none;
    color: antiquewhite; 
}
.profils{
    display: flex;
    margin-left: -40%;   
}
input:focus{
    outline:none;
}
.avatar{
    display: flex;
    background: url(https://pbs.twimg.com/media/DVCyw4YW4AADjke.jpg);
    width: 35px;
    height: 35px;
    background-size: cover;
    z-index:6;
    border-radius: 99%;
    
}
ul li a {
    font-size: 16px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    border-color: #30487B;
    padding:0;
    }
ul > li {
    list-style-type: none;
    margin-right:45px;      
}
.bitogno{
    outline: none;
    border:none;
    background-color: #3b5998;
    color:#262B92;    
    }
.menu{
        display: flex ;
        margin-left: 5%;
        column-gap: 10px;    
}
header{
    margin:5px;
    width:70%;
    height:auto;
    background-color: #3b5998;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-left:10%;
    margin-top: 10px;
}
.TMLC{
    display: flex;
    padding-left:25%;
    flex-direction: column;
    color:white;          
}
.photo{
    width:20% ;
    height:300%;
    margin-bottom: 13%;
    margin-left: 2%;   
}
.nav2{
    display: flex;
    width:100%;
    height:15.5%;
    background-color:white ;
    align-items: center;
}
.boutonav2 {
    display: flex;
    text-decoration: none; 
}
.clc{
    text-decoration: none;
    color:black  
}
.clc:hover{
    text-decoration: underline #3b5998;
    text-decoration-thickness: 3px;
    text-underline-offset: 15px;
    font-weight:bold;
    border-spacing: 10px;
}
.séparation{
    width:0.5px;
    height:30px;
    border:none;
    background-color: lightgray;
} 
.trait{
    margin:10px;
    color:black;
} 
.select{
    border:none;
}
header > .nav2 {
    display:flex;
}
main{
    display: flex;  
    width: 83.4%;
    justify-content: space-around;
    margin-left: 9%;    
}
.coloneGauche{
    display: flex;
    flex-direction: column;
    width:35%;
}
.étiquette1{
    display: flex;
    flex-direction: column;
    margin-top: 0.3%;
    background-color: white;
    border:whitesmoke;
    border-width: 1px;
    border-style: solid;
    width: 100%;   
}
#titre1{
    display: flex;
    margin-top: -5px;
}
.text{
    margin-left:2%;
}
.monsite{
    margin-left:2%;
}
#lignebas,
    #lignehaut{
    width: 100%;
    height: 1px;
    margin-top:5%;
    background-color:lightgray;
}
#lignebas{  
    margin-top:3%;  
}
.étiquette2{
    display: flex;
    flex-direction: column;
    width: 100.3%;
    height:50%;
    background-color: white;
    margin-top: 1%;
}  
.text2{
    margin-left:2%;
}
.pd{
    display: flex;
    margin-left:5px;
}


.étiquette3{
    width: 100.1%;
    height: 100%;
    background-color:white;
    margin-top: 2%;
}
.mini2{
    width: 95px;
    height: 75px;
    margin:1%;
    background-color:#3b5998 ;
}
.part1{
    display: flex;
}

.coloneDroite{
    display: flex;
    flex-direction: column;
    width:60%;
}
.étiquette1droite{
    width:80%;
    height: 50%;
    margin-top:0.2%;
    margin-left:-2.8%;
    border:whitesmoke; 
    display: flex;
    flex-direction: column;
} 
.étiquette1droite li{
    margin:0.1%;
}
.nav3{
    display: flex;
    width:100%;
    height:25%;
    background-color:white;
}
.backs{
    height:60%;
    background-color: #3b5998;
}
#lignebas2{
    margin-top:10%;
}
.mini{
    width: 10%;
    height: 75%;
    margin:1%;
    background-color:#3b5998 ;
}
.étiquette2droite{
    width:80%;
    height:35% ;
    margin-left:-2.8%;
    margin-top:1%;
    background-color: white;
    border:whitesmoke; 
    display: flex;
    flex-direction: column;
}

.po{
    display: flex;
    padding-left: 2%; 
}
.po a {
    text-decoration: none;
}
.po3{
    display: flex;
    padding-left: 2%;
    margin-top: 12px;
    text-decoration: none;
}
.po3 a {
    text-decoration: none;
}
.comment{
    background-color: white;
}
.etiquettetext{
    height:40%;
    width:100%;
}
.étiquette2droite li {
    margin:0.1%;
}
.comments2{
    width:20%;
}
.nav4{
    display: flex;
    width:100%;
    height: 40%;
}
.étiquette3droite{
    width:80%;
    height: 50%;
    margin-top:1%;
    margin-left:-2.8%;
    border:whitesmoke; 
    display: flex;
    flex-direction: column;
}
.espace{
    margin-left: -6%;
}
.SED{
    display: flex;
    flex-direction: column;
    width:19%;
    margin-top: 0.5%;}

.SED a{
    text-decoration: none;
}
.Cheader{
    display: flex;
    flex-wrap: wrap;
   
}
.carré1{
    display: flex;
    align-items: center;
    justify-content: center;
    width:40%;
    height : 10%;
    background-color:white;
}
.bouton1{
    list-style-type: none;
    font-size: 100%;
    text-decoration: none;   
}
.bouton2{
    list-style-type: none;
    font-size: 100%;
    text-decoration: none; 
}
.carré2{
    width:40%;
    height: 12%;
    text-align: center;
    background-color: white;
    border-top: 0.5px solid gray;
    
}
.centre{
    display: flex;
    align-items: center;
    justify-content: center;  
}
.SEGC{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 5%;
    
}
.border{
    padding-left: 4%;
    border-left: solid rgb(80, 78, 78);
}
.border2{
    margin-top:1%;
    padding-left: 4%;
    border-left: solid gray;
}.mac{
    padding-left:2% ;
    margin-top:5%;
    color: blue;
}
.carrédroit{
    width:30%;
    height:20%;
    background-color:#3b5998 ;
    margin-left:2% ;
}
.boutonlike{
   display: flex;
   margin-right: 0.8%;
   
}
.coller{
    display: flex;
}
   
.barrebouton{
     display: flex;
    justify-content: flex-end;
    margin:1%;
}


@media screen and (max-width :576px){ 
    .SED{
        display: none;
    }
}  
@media screen and (max-width :576px){ 
    .boutonav2{
        display: none;
    }
}  